@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Lato;
  height: 100px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 1103px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainblock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 153px 0;
}
.mainblock__content {
  position: relative;
  z-index: 1;
}
.mainblock__logo {
  margin: 0 0 159px 0;
}
.mainblock__text {
  margin: 160px 0 200px 0;
  color: #fff;
  position: relative;
  padding: 0 0 49px 0;
}
.mainblock__text:after {
  content: "";
  width: 105px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -52.5px;
  bottom: 0;
}
.mainblock__title {
  margin: 0 0 10px 0;
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}
.mainblock__subtitle {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 4.15px;
}
.mainblock__foter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainblock__btn {
  margin: 0 0 153px 0;
}
.mainblock__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.btn {
  height: 47px;
  display: inline-block;
  padding: 0 42px;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.67px;
  font-size: 16px;
}
.btn_w {
  color: #fff;
  border: 1px solid #fff;
}

.about {
  padding: 22px 0 95px;
}
.about__nav {
  max-width: 425px;
  margin: 0 auto;
}
.about_title {
  margin: 0 0 30px 0;
}
.about__body {
  max-width: 823px;
  margin: 0 auto;
}
.about__header {
  margin: 0 0 65px 0;
}
.about__text {
  max-width: 690px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.about__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  position: relative;
  text-align: center;
  padding: 0 0 30px 0;
}
.title:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin: 0 0 0 -25px;
}

.item-about__icon {
  margin: 0px auto;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  width: 92px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-about__title {
  text-align: center;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.16em;
  color: #000000;
  margin: 40px 0 35px 0;
}
.item-about__text {
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__column {
  margin: 0 0 154px 0;
}
.nav__item a {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: #3c3c3c;
  text-transform: uppercase;
}
.nav__item a:hover {
  color: #ada074;
  font-weight: 700;
}

.portfolio {
  background-color: #f3f3f3;
  padding: 107px 0 60px 0;
}
.portfolio__title {
  margin: 0 0 50px 0;
}
.portfolio__menu {
  max-width: 295px;
  margin: 0 auto;
}
.portfolio__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio__item {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: #3c3c3c;
}
.portfolio__content {
  margin: 136px 0 0 0;
}
.portfolio__elements {
  padding: 0 -5.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__box {
  margin: 0 0 10px 0;
  padding: 0 5.5px;
}
.portfolio__footer {
  text-align: center;
  margin: 54px 0 0 0;
}
.btn_b {
  color: #000;
  border: 1px solid #000;
}

.partners {
  padding: 100px 0 104px 0;
  background: url("../img/partners/daynbg1.jpg") center/cover no-repeat;
}
.partners__title {
  text-align: center;
  color: #fff;
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  margin: 0 0 93px 0;
}
.partners__items {
  max-width: 584px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.partners__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.contacts {
  padding: 183px 0 102px 0;
}
.contacts__title {
  margin: 0 0 166px 0;
}
.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -41.5px;
}
.contacts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 41.5px;
}
.contacts__form {
  text-align: right;
}
.contacts__content {
  max-width: 250px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}
.contacts__text {
  margin: 0 0 10px 0;
  font-weight: 300;
}
.contacts__name {
  margin: 0 0 20px 0;
}
.contacts__social {
  margin: 0 0 10px 0;
}
.contacts__email a {
  font-weight: 700;
  color: #000;
}

.form-contacts__body {
  display: inline-block;
  width: 100%;
  max-width: 385px;
}
.form-contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px 70px -15px;
}
.form-contacts__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}
.form-contacts__input {
  text-align: left;
}
.form-contacts__label {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 10px 0;
  text-align: left;
}
.form-contacts__btn.btn {
  margin: 35px 0 0 0;
}

.label-last {
  border: none;
}

.social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__item {
  border-radius: 50%;
  padding: 6px 0 0 0;
  border: 1px solid #000;
  text-align: center;
  width: 29px;
  height: 29px;
  margin: 0 15px 0 0;
}

input,
textarea {
  min-height: 35px;
  text-align: left;
  border-top: 1px solid #000;
  background-color: #f8f7f7;
}

textarea {
  min-height: 118px;
  min-width: 383px;
}

.footer {
  background-color: #3c3c3c;
  padding: 48px 0 49px 0;
}
.footer__body {
  max-width: 260px;
  margin: 0 auto;
}
.footer__imagefirst {
  text-align: center;
}
.footer__row {
  margin: 40px 0 34px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__item {
  color: #a4a4a4;
  font-size: 14px;
  font-family: Lato;
  line-height: 1.2;
}
.footer__imagesecond {
  text-align: center;
}